body, html {
    height: 100%;
    margin: 10px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 30px;
}

.pergunta {
    text-align: left;
    display: block;
    flex-direction: column;
    align-items: left;
}

label {
    font-size: 24px; /* Alteração para fonte de tamanho 14px */
    margin-bottom: 5px; /* Espaçamento entre os campos */
    display: block; /* Faz com que cada label seja exibida em uma linha separada */
}

#resposta {
    font-size: 24px;
    animation: blink 1s infinite;
}

/* Alteração para fonte de tamanho 14px */
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 500px; /* Alteração para aumentar a largura dos campos */
    font-size: 18px;
    margin-bottom: 10px; /* Espaçamento entre os campos */
    display: block; /* Faz com que cada input seja exibido em uma linha separada */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Estilos padrão para o fundo */
body {
    background-color: #f0f0f0; /* Fundo claro */
    color: #333; /* Texto escuro */
}

/* Estilos para o fundo escuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333; /* Fundo escuro */
        color: #f0f0f0; /* Texto claro */
    }
}
